# Tupples

In [1]:
#tupples are mutable
mytupple = (1,2,3,4,5,6,7,8)

In [3]:
mytupple[:4]

(1, 2, 3, 4)

In [4]:
del mytupple[2]

TypeError: 'tuple' object doesn't support item deletion

In [5]:
#the vales of tupple can not be changed (del, append, pop), only functions with tupples are count and

In [6]:
#packing
cities = ("khi", "lhr", "multan") #craetion of list or couple is called packing

In [14]:
#unpacking
largest , bigger = cities #variables are less than values in tupple

ValueError: too many values to unpack (expected 2)

In [9]:
largest

'khi'

In [10]:
bigger

'lhr'

In [13]:
small

'multan'

In [15]:
largest = "ali"

In [16]:
cities

('khi', 'lhr', 'multan')

In [17]:
largest

'ali'

# for loops

In [18]:
#to print name ten times
#copleities: code and time complexity
#two things count in coding number of steps and execution speed
#complexity is inversely proportional to number of lines

In [20]:
for a in range(10): #starting of range is 0 and end point is 9 (0- n-1)
    print(a,"ALI")

0 ALI
1 ALI
2 ALI
3 ALI
4 ALI
5 ALI
6 ALI
7 ALI
8 ALI
9 ALI

In [25]:
for b in range(0,11,2): #2 is step not gap, if it is gap then after 0 3 will be printed #(start, end-1, step)
    print(b)

0
2
4
6
8
10

In [27]:
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [29]:
for a in range(10,0,2): #there is nothing after 10 to run
    print(a)

In [31]:
for a in range(10,0,-1): #for reverse loop step must be -ve
    print(a)

10
9
8
7
6
5
4
3
2
1

In [32]:
for name in ["ali","khi","lhr"]: #packing elements in name list
    print(name)

ali
khi
lhr

In [33]:
for character in "String": #iteration on characters
    print(character)

S
t
r
i
n
g

In [34]:
#pass, break and continue

In [38]:
for a in range (10):
    if a==5:
        break
    print(a)

0
1
2
3
4

In [40]:
frnds = ['a','b','c','d','e', 'f','g','h','i']

for frnds in frnds:
    if frnds!= 'e':
        print('continue and enjoy party')
    else:
        print('party is over')

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over
continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party

In [42]:
frnds = ['a','b','c','d','e', 'f','g','h','i']

for frnds in frnds:
    if frnds!= 'e':
        print('continue and enjoy party')
        
    else:
        print('party is over')
        break

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over

In [47]:
frnds = ['a','b','c','d','e', 'f','g','h','i']

for frnds in frnds:
    if frnds!= 'e':
        print('continue and enjoy party')
        continue
        
    else:
        print('party is over')

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over
continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party

In [50]:
for a in range (10):
    if a==5:
        continue #continue skips the value at which continue is applied
    print(a)

0
1
2
3
4
6
7
8
9

In [51]:
for a in range(10):

SyntaxError: unexpected EOF while parsing (<ipython-input-51-03b5f5baf5ec>, line 2)

In [52]:
for a in range(10): #pass is used to pass the loop when code is not available but we know the functions used
    pass

In [59]:
num = int(input("Enter any number: "))

for a in range(1,11):
    print(f"{num} x {a} = " +str(num*a)) #print(f"{num}x {a}= {table*a}")

Enter any number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [61]:
for tables in range(2,10,2):
    print("*******************")
    for num in range (1,11):
        print(f"{tables}x{num}= {tables*num}")

*******************
2x1= 2
2x2= 4
2x3= 6
2x4= 8
2x5= 10
2x6= 12
2x7= 14
2x8= 16
2x9= 18
2x10= 20
*******************
4x1= 4
4x2= 8
4x3= 12
4x4= 16
4x5= 20
4x6= 24
4x7= 28
4x8= 32
4x9= 36
4x10= 40
*******************
6x1= 6
6x2= 12
6x3= 18
6x4= 24
6x5= 30
6x6= 36
6x7= 42
6x8= 48
6x9= 54
6x10= 60
*******************
8x1= 8
8x2= 16
8x3= 24
8x4= 32
8x5= 40
8x6= 48
8x7= 56
8x8= 64
8x9= 72
8x10= 80

In [63]:
"ali".upper()

'ALI'

In [66]:
'ali'.title() #one func is togglr also

'Ali'

# Dictionary

In [67]:
mydict = {} #empty dict

In [68]:
type(mydict)

dict

In [69]:
len(mydict)

0

In [70]:
mydict = {name:"Ali"} #key:value

In [72]:
mydict[name] #dict amin value key k zareay say ati hai

'Ali'

In [74]:
mydict = {name:"ali", age:"22", edu:"BE"} #key is also string or you have to define the key first if it is variable

NameError: name 'age' is not defined

In [75]:
mydict = {'name':"ali", 'age':"22", 'edu':"BE"}

In [77]:
mydict["name"]

'ali'

In [78]:
#methods in dict are krys() values(), items()

In [80]:
for k, v in mydict.items(): #item fuunction calls both key and value so two variables are required to store two values
    print(k,v)

name ali
age 22
edu BE

In [84]:
for k in mydict.keys():
    print(k)

name
age
edu

In [86]:
for k in mydict.keys(): #taking values by keys
    print(mydict[k])

ali
22
BE

In [87]:
for k in mydict.values():
    print(k)

ali
22
BE

# List in List

In [100]:
a = [11,12,1,14,15]
b = [55,66,77,88, a]
c = ['apple', 'orange', 'banana',a,b]

In [89]:
c

['apple', 'orange', 'banana', [11, 12, 1, 14, 15], [55, 66, 77, 88]]

In [90]:
c[2]

'banana'

In [91]:
c[3]

[11, 12, 1, 14, 15]

In [93]:
c[3][3] #list k andr ki list ka element

14

In [94]:
c[3][1:]

[12, 1, 14, 15]

In [95]:
del c[3][2]

In [96]:
c

['apple', 'orange', 'banana', [11, 12, 14, 15], [55, 66, 77, 88]]

In [98]:
c[3].remove(14)

In [99]:
c

['apple', 'orange', 'banana', [11, 12, 15], [55, 66, 77, 88]]

In [102]:
c

['apple',
 'orange',
 'banana',
 [11, 12, 1, 14, 15],
 [55, 66, 77, 88, [11, 12, 1, 14, 15]]]

In [103]:
#list in list
#dict in list
#tupple in list
#list in dict
#tuple in dict
#dict in dict
#list in tuple
#tuple in tuple
#dict in tuple

# Dict in list

In [104]:
aa= [11,22,33,mydict]

In [105]:
aa

[11, 22, 33, {'name': 'ali', 'age': '22', 'edu': 'BE'}]

In [106]:
aa[3]

{'name': 'ali', 'age': '22', 'edu': 'BE'}

In [107]:
aa[3]['age']

'22'

In [108]:
del aa[3]['age']

In [109]:
aa

[11, 22, 33, {'name': 'ali', 'edu': 'BE'}]

#DYS======> tuple in list

In [112]:
lid = {"names":['a','b','f','t']}

In [114]:
lid['names'][3]

't'

In [115]:
del lid['names'][3]

In [116]:
lid

{'names': ['a', 'b', 'f']}

In [120]:
did = {'names':{'name':'a','class':'b','sec':'c','cell':'d'}}

In [119]:
did["names"]['cell']

TypeError: 'set' object is not subscriptable

In [121]:
did['hme']='own'

In [122]:
did

{'names': {'name': 'a', 'class': 'b', 'sec': 'c', 'cell': 'd'}, 'hme': 'own'}

In [123]:
did['names']['class']

'b'